    body{
        margin:0px;
        text-transform:capitalize;
    }
    #top{
        background-color:#1F2937;
        width:100%;
        height:480px;
        box-sizing:border-box;
        color:white;
        padding-left:80px;
        padding-right:80px;
    }
    #header{
        padding-top:20px;
        display:flex;
        justify-content:space-between;
    }
    #logo-container{
        display:flex;
        justify-content:flex-start;
        align-items:center;
    }
    #links{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    #links div{
        margin-left:20px;
    }
    #content-container{
        display:flex;
        margin-top:40px;
        justify-content:space-between;
        align-items:center;
    }
    #top-content{
        width:50%;
    }
    #top-box{
        width:45%;
        height:180px;
        color:white;
        background-color:#657074;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    #top-content h1{
        font-size:48px;
        font-weight:extra-bold;
        color:#F9FAF8;
    }
    #top-content p,#links{
        color:#E5E7E8;
        font-size:18px;
    }
    #logo{
        font-size:24px;
        color:#FF9FAF8;
    }
    #top-button{
        background-color:#3882F6;
        font-size:26px;
        border:2px solid #3882F6;
        border-radius:6px;
        color:white;
    }
    /** top part finished **/
    #main h1{
        text-align:center;
        color:#1F2937;
        font-size:36px;
        font-weight:extra-bold;
        position:relative;
        margin-top:6%;
    }
    #main-container{
        display:flex;
        justify-content:center;
    }
    #main-container .card{
        width:12%;
        margin-right:40px;
        text-align:center;
        margin-bottom:25%;
    }
    #main .last{
        margin-right:0px;
    }
    #empty{
        width:100%;
        height:77%;
        border:3px solid rgb(28,110,213);
        border-radius:20px;
    }
    
    /** main part completed **/

#quote{
    width:100%;
    display:flex;
    flex-direction:column;
    background-color:pink;
    justify-content:center;
    align-items:center;
    height:350px;
    box-sizing:border-box;
    background-color:#E5E7E8;
    color:#1F2937;
    font-size:24px;
    font-weight:light;
    font-style:italic;
    margin-bottom:10%;
}
quote{
    width:50%;
}
#author{
    margin-top:10px;
    width:50%;
    align-self:flex-end;
    font-weight:bolder;
}
/** quote part completed **/

#adds{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-bottom:200px;
    
    
}


#adds #content{
    background-color:rgb(27,101,241);
    padding:20px 60px;
    border-radius:13px;
    border:2px solid rgb(27,101,241);
    display:flex;
    justify-content:space-between;
    align-items:center;
    
}
#adds #content #one{
    width:80%;
}
#adds #content #two button{
    font-size:30px;
    background-color:inherit;
    border:2px solid white;
    padding:2px 5px;
    border-radius:10px;
}